p {
  text-align: center;
}
h1,
h2 {
  text-align: center;
}
p.white,
h2.white,
h1.white {
  color: white;
}
#section1 {
  background-image: url(../IP3/assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 780px;
  width: 100%;
}
#logo {
  padding-top: 18%;
  padding-bottom: 1%;
  padding-left: 46%;
}
#mouse {
  padding-top: 11%;
  padding-left: 50%;
}
#section2 {
  height: 300px;
}
#section3 {
  background-image: url(../IP3/assets/backgrounds/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 400px;
  width: 100%;
}
#hidden-p1 {
  overflow: auto;
  display: inline;
  display: none;
  font-size: small;
}
#hidden-p2 {
  overflow: auto;
  display: inline;
  display: none;
  font-size: small;
}
#hidden-p3 {
  overflow: auto;
  display: inline;
  display: none;
  font-size: small;
}
h5 {
  padding-left: 35%;
}
#design-img1 {
  height: 70px;
  padding-left: 33%;
  cursor: pointer;
  margin-top: 4%;
}
#development-img {
  height: 70px;
  padding-left: 38%;
  cursor: pointer;
  margin-top: 4%;
}
#product-img {
  height: 70px;
  padding-left: 43%;
  cursor: pointer;
  margin-top: 4%;
}
#section5 {
  height: 600px;
}
#portfolio1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 18%;
  padding-right: 16%;
}
#portfolio2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 22%;
  padding-right: 20%;
}
#black-img,
#ontario-img,
#gold-img,
#jim-img,
#burned-img,
#giraffe-img,
#elena-img,
#calc-img {
  height: 130px;
}

#description1,
#description2,
#description3,
#description4,
#description5,
#description6,
#description7,
#description8 {
  display: none;
  width: 80%;
  height: 90%;
  border: 4px solid #fff;
  border-color: 4px solid white;
  position: absolute;
  top: 8px;
  left: 20px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  padding-top: 20%;
}
